/*Web fonts here*/

@font-face {
    font-family: 'jura';
    src: url('../Fonts/jura.ttf');
}

@font-face {
    font-family: 'league';
    src: url('../Fonts/league.ttf');
}

@font-face {
    font-family: 'signika';
    src: url('../Fonts/signika.ttf');
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    borde-bottom: 1px ridge;
    min-height: 400px;
}

.carousel {
    background: -webkit-linear-gradient(left, #78286B 30%, #D7483F);
    background: -moz-linear-gradient(left, #78286B 30%, #D7483F);
    background: -o-linear-gradient(left, #78286B 30%, #D7483F);
    background: linear-gradient(left, #78286B 30%, #D7483F);
}

.carousel .item {
    min-height: 500px;
}

#schoolCarousel .item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

body {
    align: center;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-inverse {
    #background: #78286B;
    #background: -webkit-linear-gradient(left, #D7483F 30%, #78286B);
    #background: -moz-linear-gradient(left, #D7483F 30%, #78286B);
    #background: -o-linear-gradient(left, #D7483F 30%, #78286B);
    #background: linear-gradient(left, #D7483F 30%, #78286B);
    background: -webkit-linear-gradient(left, #78286B 30%, #D7483F);
    background: -moz-linear-gradient(left, #78286B 30%, #D7483F);
    background: -o-linear-gradient(left, #78286B 30%, #D7483F);
    background: linear-gradient(left, #78286B 30%, #D7483F);
    border-bottom: 2px solid rgba(215, 72, 63, 0.20);
    color: white;
}

.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #660033;
}

.row-footer a,
.row-footer address,
h5 {
    color: wheat;
}

#outer-row {
    border-right: 1px solid #ddd;
}

td,
th {
    text-align: center;
}

.indicator-color1,
.indicator-color2,
.indicator-color3 {
    width: 20px;
    height: 20px;
}

.indicator-color1 {
    background: blue;
    border-radius: 60%;
}

.indicator-color2 {
    background: red;
    border-radius: 60%;
}

.indicator-color3 {
    background: yellow;
    border-radius: 60%;
}

canvas {
    width: 400px;
    height: 400px;
}

.tab-area {
    height: 400px;
}

.tab-pane {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.affix {
    top: 60px;
}

.boys {
    border-right: 2px solid #ddd;
}

#map-container {
    width: 400px;
    height: 280px;
}

p {
    text-align: justify;
}

body {
    background: rgba(208, 208, 208, 0.3);
}

.dropdown-menu {
    background: -webkit-linear-gradient(left, #78286B 30%, #D7483F);
    background: -moz-linear-gradient(left, #78286B 30%, #D7483F);
    background: -o-linear-gradient(left, #78286B 30%, #D7483F);
    background: linear-gradient(left, #78286B 30%, #D7483F);
}

.dropdown-menu > li > a {
    color: #ddd;
}

.navbar-inverse .navbar-nav > .active > a {
    background: #660033;
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background: #660033;
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a:focus {
    background: #660033;
    color: #fff;
}

.uniform-ul .glyphicon {
    #color: darkgreen;
}

.navbar-inverse .glyphicon {
    #color: lavenderblush;
}

#bb > a > span {
    color: red;
}

.t-info {
    background: #ddd;
    padding: 15px;
}

#myScrollSpy li {
    width: 250px;
}

.media-body i {
    color: green;
}

.jumbotron {
    background: -webkit-linear-gradient(left, #78286B 30%, #D7483F);
    background: -moz-linear-gradient(left, #78286B 30%, #D7483F);
    background: -o-linear-gradient(left, #78286B 30%, #D7483F);
    background: linear-gradient(left, #78286B 30%, #D7483F);
    color: white;
    margin: 0px auto;
    padding: 70px 30px;
}

.jumbotron small {
    color: burlywood;
}


/*use custom fonts*/

@font-face {
    font-family: 'exo2';
    src: url("../Fonts/exo2.otf");
}

#history p {
    font-family: 'exo2';
    font-size: 18px;
}

h1,
h2 {
    font-family: 'exo2';
    font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a {
    color: blanchedalmond;
}

.navbar-inverse .navbar-right > li > a {
    color: blanchedalmond;
}


/*Other css here.*/

.navbar-inverse .navbar-nav > .open > a {
    background: #660033;
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a:hover {
    background: #660033;
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a:focus {
    background: #660033;
    color: #fff;
}

.navbar-inverse a {
    font-size: 15px;
    #font-weight: bolder;
    color: black;
    font-family: 'signika';
    font-weight: bold;
}


/*h4 {
    font-family: 'jura';
    font-weight: bold;
}*/

.copyright {
    border-top: 2px solid #ddd;
}

*{
    font-family: Fontawesome;
}

#footer-row dl > dt{
    color: #f5f5f5;
}
#footer-row dl > dd >a{
    color: #ffffff;
}

#notific{

    top: 10px;
    left: -10px;
}
.footer-container h3{
    color: #f5f5f5;
}
