select {
    font-family: Fontawesome;
}

.fa-asterisk {
    color: red;
}

.edit-picture {
    position: absolute;
    top: 45px;
    left: 365px;
    color: magenta;
}

#img_avater {
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.info a {
    text-decoration: none;
    color: dimgrey;
    width: 100%;
    text-align: left;
}

.info a:after {
    text-decoration: none;
}
