@font-face {
    font-family: 'jura';
    src: url('../Fonts/jura.ttf');
}

.overflow img {
    width: 200px;
    height: 100%;
}

.grid-item {
    width: 25%;
}

.thumbnail .img-holder {
    min-height: 200px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.caption h4 {
    color: lemonchiffon;
    font-family: 'jura';
    font-weight: bolder;
}

.caption h3 {
    color: red;
}

.thumbnail {
    background: #330000;
    min-height: 400px;
    height: 500px;
}

.fa-tint {
    color: red;
}

.fa-mobile,
.fa-envelope,
.fa-university,
.fa-briefcase,
.fa-birthday-cake,
.glyphicon-education {
    color: blueviolet;
}

#getFixed {
    height: 80px;
    width: 1350px;
    background: gray;
    z-index: 999;
}

#getFixed h1 {
    color: antiquewhite;
}
