@font-face {
    font-family: 'jura';
    src: url('../Fonts/jura.ttf');
}

@font-face {
    font-family: 'exo2';
    src: url('../Fonts/exo2.otf');
}

.overflow img {
    width: 200px;
    height: 100%;
}

.grid-item {
    width: 25%;
}

.thumbnail .img-holder {
    min-height: 200px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.caption h4,
.caption h5 {
    #color: lemonchiffon;
    #font-family: 'jura';
    font-weight: bolder;
    color: black;
}

.caption h3 {
    #color: red;
    font-family: 'exo2';
}

.thumbnail {
    #background: #330000;
    min-height: 400px;
    height: 500px;
    background: lightgray;
}

.fa-tint {
    color: #ff0000;
}

.caption .fa-mobile,
.caption .fa-envelope,
.caption .fa-university,
.caption .fa-briefcase,
.caption .fa-birthday-cake,
.caption .glyphicon-education {
    color: brown;
}

#getFixed {
    height: 80px;
    width: 1350px;
    background: gray;
    z-index: 999;
}

#getFixed h1 {
    color: antiquewhite;
}

.scrolltotop {
    width: 20px;
    height: 40px;
}
